<div id="logo">
  <div id="logo_text">
    <!-- class="logo_colour", allows you to change the colour of the text -->
    <h1><a href="index.html">CSS3<span class="logo_colour">_one</span></a></h1>
    <h2>Simple. Contemporary. Website Template.</h2>
  </div>
  <form method="post" action="#" id="search">
    <input class="search" type="text" name="search_field" value="search....." onclick="javascript: document.forms['search'].search_field.value=''" />
    <input name="search" type="image" style="float: right;border: 0; margin: 20px 0 0 0;" src="images/search.png" alt="search" title="search" />
  </form>
</div>